*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

/* video block */
div.video{
    position: relative;
}

video{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

#myBtn{
    width: 166px;
    height: 166px;
    position: absolute;
    left: 50%;
    margin-left: -83px;
    top: 50%;
    margin-top: -83px;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    font-size: 150px;
    text-align: center; 
    color: #fff;
    padding: 5px auto;
    line-height: 20px; 
    cursor: pointer;
    z-index: 1;
    outline: none;
}

/* main article */
main {
    position: relative;
    top: -120px;
    z-index: 1;
    width: 93%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 6px 6px 12px rgba(48, 68, 98, 0.12);
    border-radius: 10px;
}

.main h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.main p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
}

.last-para{
    padding-bottom: 100px;
}

.article{
    margin-right: 86px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.main h4{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}

/* slider block */
section.dream-team-slider{
    padding: 50px;
    margin: auto;
    position: relative;
    top: -70px;
}

.slide-img img{
    border-radius: 50%;
    width: 340px;
    height: 340px;
    object-fit: cover;
    filter: drop-shadow(6px 6px 12px rgba(48, 68, 98, 0.12));
}

.slide-img{
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

.slider-text{
    width: 435px; 
    text-align: center;
    margin: auto;
}

.slider-text p{
    font-size: 24px;
    line-height: 27px;
    height: auto;
    margin-top: 30px;
    font-family:'Courier New';
}

.slider-text .title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

.slider-text .title span{
    font-weight: 400;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

.swiper-button-prev i,
.swiper-button-next i{
    color: #EA157A;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 65px;
    border-radius: 50%;
}

.swiper-button-prev i:hover,
.swiper-button-next i:hover{
    background-color: #EA157A;
    color: #F4F9FF;
    border-radius: 50%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 50px;
    padding: 0 15px;
}


.swiper-pagination{
    position: relative;
    padding-top: 50px;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    background-color: #EA157A;
}

/* project highlights */

section h2{
    font-size: 48px;
    line-height: 59px;
    font-weight: 600;
    text-align: center;
}

.container{
    width: 100%;
    height: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2rem 1rem;
    place-items: center;
}

.card{
    width: 400px;
    height: 400px;
    background: #C4D7FC;
    box-shadow: 6px 6px 12px rgba(48, 68, 98, 0.12);
    border-radius: 10px;
    position: relative;
}
.card:hover{
    top: -5px;
}

.wrapper{
    border-radius: 10px;
    padding: 25px;
    position: relative;
}

.wrapper img{
    object-fit: cover;
    width: 350px; 
    height: 350px; 
    border-radius: 10px;
}

.icons {
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: 1;
    color: white;
  }

.icons i{
    padding-left: 20px; 
  }

.text{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 133px;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    padding: 25px 30px;
    text-align: justify;
  }

.text h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

.text p{
    font-size: 14px;
    line-height: 17px;
  }


  

/* footer block */
footer{
    background: linear-gradient(90deg, #FEB80A 0%, #7FD13B 100%);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.copyright{
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
}

